@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  display: block;
  margin: auto;
  height: 240px;
}

.logoAlternative {
  display: block;
  margin: auto;
  height: 150px;
}